*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.text{
    height: fit-content;
    width: 60%;
    margin: 100px 0px 0px;
}
.text p{
    width: 702px;
    margin: 0px 0px 20px;
}
.text h4{
    margin: 10px 0px;
}